<div class="success_message popup_block">
    <img src="/img/close.svg" class='close' alt="close">
    <div class="content">
        <div class="payment_error_icon">
        <svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M58.8951 10.1047C52.379 3.58867 43.7153 0 34.5 0C25.2846 0 16.6208 3.58867 10.1047 10.1047C3.58854 16.6209 0 25.2847 0 34.5C0 43.7153 3.58854 52.379 10.1047 58.8951C16.6209 65.4113 25.2846 69 34.5 69C43.7153 69 52.379 65.4113 58.8951 58.8951C65.4113 52.379 69 43.7153 69 34.5C69 25.2847 65.4113 16.621 58.8951 10.1047ZM34.5 64.957C17.7059 64.957 4.04297 51.2941 4.04297 34.5C4.04297 17.7059 17.7059 4.04297 34.5 4.04297C51.2941 4.04297 64.957 17.7059 64.957 34.5C64.957 51.2941 51.2941 64.957 34.5 64.957Z" fill="#006ADE"/>
        <path d="M50.983 23.4298C50.1937 22.6406 48.9137 22.6406 48.1244 23.4299L30.2735 41.2808L20.8767 31.884C20.0873 31.0947 18.8073 31.0947 18.0179 31.884C17.2284 32.6733 17.2284 33.9533 18.0179 34.7428L28.844 45.5689C29.2387 45.9637 29.7561 46.1609 30.2733 46.1609C30.7906 46.1609 31.3081 45.9635 31.7026 45.5689L50.983 26.2885C51.7725 25.4992 51.7725 24.2192 50.983 23.4298Z" fill="#006ADE"/>
        </svg>
        </div>
        <div class="payment_error_text">
            <h3>Thank you for your application!</h3>
            <p>We will review it and in the near future we will send you to your email address to enter your personal account.</p>
        </div>
    </div>
</div>