<div class="wrapper">
	<div class="top_row_inner_page top_row container no_padding_bottom">
        <h1><?php echo $cmsRequest::$page->title; ?></h1>
        
        <?php 
			if (isset($text->content)) {
				echo $text->content; 
			}
		?>
    </div>
</div>