.alert {
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.alert.failed {
	background: #F9D7DA;
	color: #73194B;
	border-color: #F6C6CB;
}

.terminals_city_list ol {
	-webkit-column-count: 1;
  	column-count: 1;
}

.about_map .content h3 {
	margin-bottom: 18px;
}

.manager_item .top span {
	overflow: visible;
}

.manager_item .bottom a.mail {
	padding-left: 24px;
}

.about_map .content p b {
	display: inline-block;
	min-width: 42px;
}

.article_baner::after {
	padding-top: 0px;
}

.article_baner img {
	position: relative;
}

.easy-autocomplete-container ul li.selected div {

	font-weight: 300;
}

.easy-autocomplete-container ul li div {
	color: #000;
	padding: 10px 0px;
	font-weight: 300;
}

.easy-autocomplete-container ul li b {
	font-weight: 500;
}

.chosen-container .chosen-results li.highlighted {
	background: none;
}

.order_block .terminal-operating-mode {}
.order_block .terminal-operating-mode div {
	display: inline-block;
}

.service_info_text h1 {
	hyphens: auto;
}

.footer-text p {
	text-align: left;
}

@media screen and (max-width: 680px) {
	.terminals_city_list ol {
		-webkit-column-count: 1;
	  	column-count: 1;
	}
}