/*! formstone v1.4.2 [dropdown.css] 2017-12-06 | GPL-3.0 License | formstone.it */

.fs-dropdown {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%
}

.fs-dropdown, .fs-dropdown *, .fs-dropdown:after, .fs-dropdown:before, .fs-dropdown:after, .fs-dropdown:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: none;
    transition: none;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important
}

.fs-dropdown-element {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent
}

.fs-dropdown-mobile .fs-dropdown-element, .fs-dropdown-native .fs-dropdown-element {
    z-index: 7
}

.fs-dropdown-mobile.fs-dropdown-multiple .fs-dropdown-element, .fs-dropdown-native.fs-dropdown-multiple .fs-dropdown-element {
    z-index: -1
}

.fs-dropdown-selected {
    border: none;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
    border: 1px solid;
    color: #000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: clip
}

.fs-dropdown-options {
    width: 100%;
    max-height: 260px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    background: #fff;
    border: 1px solid;
    display: none;
    overflow: auto;
    overflow-x: hidden
}

.fs-dropdown-options.fs-scrollbar {
    position: absolute
}

.fs-dropdown-group {
    display: block;
    font-size: 75%
}

.fs-dropdown-item {
    border: none;
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis
}

.fs-dropdown-item_placeholder {
    display: none
}

.fs-dropdown-item_selected {
    background: #ddd
}

.fs-dropdown-item_disabled {
    cursor: default;
    opacity: .5
}

.fs-dropdown-open {
    z-index: 3
}

.fs-dropdown-open .fs-dropdown-options {
    display: block
}

.fs-dropdown-open .fs-dropdown-selected {
    z-index: 6
}

.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected {
    z-index: 4
}

.fs-dropdown-cover .fs-dropdown-options {
    top: 0
}
/* 
.fs-dropdown-bottom .fs-dropdown-options {
    top: auto;
    bottom: 100%
} */

/* .fs-dropdown-bottom.fs-dropdown-cover .fs-dropdown-options {
    top: auto;
    bottom: 0
} */

.fs-dropdown-multiple .fs-dropdown-options {
    width: 100%;
    position: static;
    display: block
}

.fs-dropdown-disabled {
    opacity: .5
}

.fs-dropdown-disabled .fs-dropdown-selected {
    cursor: default
}

.fs-dropdown-disabled .fs-dropdown-group, .fs-dropdown-disabled .fs-dropdown-item {
    cursor: default
}

.fs-dropdown-options.fs-scrollbar {
    overflow: hidden
}

.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar {
    border: 1px solid;
    border-width: 0 0 0 1px
}

.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content {
    max-height: 260px;
    height: auto
}

.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content {
    padding: 0
}