@font-face {
    font-family: 'Open Sans - Semibold';
    src: url('../fonts/Open Sans - Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans.ttf');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//   font-family: Muli;
//   src: url('../fonts/muli/Muli-Bold.ttf');
//   src: url('../fonts/muli/Muli-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: Muli;
//   src: url('../fonts/muli/Muli-Bold.ttf');
//   src: url('../fonts/muli/Muli-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: Muli;
//   src: url('../fonts/muli/Muli.ttf');
//   src: url('../fonts/muli/Muli.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: Muli;
//   src: url('../fonts/muli/Muli-SemiBold.ttf');
//   // src: url('../fonts/muli/Muli.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
// }
@font-face {
    font-family: 'OpenSans';
    src: url('../OpenSans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400, 500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800');
// @import url('https://fonts.googleapis.com/css?family=Roboto:400');\
@font-face {
    font-family: "Sharp Sans";
    src: url('../fonts/Sharp/SharpSans-Thin.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('../fonts/Sharp/SharpSans-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans - Medium";
    src: url('../fonts/Sharp/SharpSans-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('../fonts/Sharp/SharpSans-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('../fonts/Sharp/SharpSans-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('../fonts/Sharp/SharpSans-Book.otf');
    font-weight: 900;
    font-style: normal;
}

// 
@font-face {
    font-family: "Samsung Sharp Sans";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/samsungsharpsans/samsungsharpsans.otf');
}
@font-face {
    font-family: "Samsung Sharp Sans";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/samsungsharpsans/samsungsharpsans-medium.otf');
}
@font-face {
    font-family: "Samsung Sharp Sans";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/samsungsharpsans/samsungsharpsans-bold.otf');
}
// 
@font-face {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/stolzl/stolzl_thin.otf');
}
@font-face {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/stolzl/stolzl_light.otf');
}
@font-face {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl/stolzl_regular.otf');
}
@font-face {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/stolzl/stolzl_medium.otf');
}
@font-face {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/stolzl/stolzl_bold.otf');
}