html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3b3b3b;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f5f8fd;
}
img {
  max-width: 100%;
}
svg use {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
input,
button,
textarea {
  -webkit-appearance: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  background: #EDF2F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 22vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.stubBlock {
  text-align: center;
  position: relative;
  z-index: 2;
}
.stubBlock .logo {
  margin-bottom: 118px;
}
.stubBlock p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  letter-spacing: -1px;
  opacity: 0.5;
}
.browsers {
  margin-top: 48px;
}
.browsers a {
  text-decoration: none;
  margin: 0 39px 39px;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
}
.browsers a:hover img {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.browsers a:hover:before {
  opacity: 1;
}
.browsers a:before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.browsers img {
  width: 100px;
  display: block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
h1 {
  font-family: Stolzl;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 13px;
}
p {
  margin-top: 0;
}
.container {
  padding: 30px;
}
.parallax_wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.parallax {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
}
.parallax.el1 {
  left: 87px;
  top: 11%;
}
.parallax.el2 {
  right: 75px;
  top: 6%;
}
.parallax.el3 {
  left: 13%;
  top: 33%;
}
.parallax.el4 {
  left: 6%;
  bottom: 12%;
}
.parallax.el5 {
  left: 56%;
  bottom: 23%;
}
.parallax.el6 {
  right: 9%;
  bottom: 5%;
}
@media (max-width: 991px) {
  .browsers img {
    width: 70px;
  }
  .browsers a {
    margin: 0 20px 20px;
  }
}
@media (max-width: 580px) {
  .browsers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .browsers a {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .browsers a img {
    margin: auto;
  }
  .wrapper {
    padding-bottom: 0;
  }
  .stubBlock .logo {
    margin-bottom: 50px;
  }
  .parallax.el4,
  .parallax.el5,
  .parallax.el3 {
    display: none!important;
  }
  .parallax.el6 {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    bottom: 0;
    width: 200px;
  }
  .parallax.el2 {
    right: 0;
    top: 13%;
  }
  .parallax.el1 {
    left: 51px;
    top: 4%;
  }
}
