@media screen and (max-width: 1280px) {
  .top_block_main_page {
    padding-left: 0;
    padding-right: 0;
  }
  header .search_block .main_btn {
    font-size: 10px;
  }
  .search_block .main_btn,
  .search_block button {
    min-width: 130px!important;
    padding: 4px 20px!important;
  }
  header .search_block {
    width: 360px;
  }
  header .search_block input {
    font-size: 12px;
  }
  .search_block form button.main_btn {
    min-width: initial!important;
  }
  .search_block .buttons .main_btn {
    margin-right: 10px;
  }
  .about_us_title h1 {
    font-size: 60px;
  }
  .about_us_title p {
    max-width: 662px;
    font-size: 20px;
    line-height: 32px;
  }
  .about_us_text h4 {
    font-size: 42px;
  }
  .about_us_service_text h3 {
    margin: 40px 0 20px 0;
    font-size: 22px;
  }
  .about_us_service_text ol li {
    font-size: 26px;
  }
  .about_team .tabs h2 {
    margin-bottom: 15px;
    font-size: 40px;
  }
  .about_map .content.w50 .w50 {
    width: calc(50% - 24px);
  }
  .about_map .content.content_text.w50 {
    width: calc(50% - 24px);
  }
  .registration_form_item.person_information {
    padding: 0 0 0 40px;
  }
}
@media screen and (max-width: 1248px) {
  .top_block_main_page .right {
    padding-left: 80px;
  }
  .top_block_main_page h1 {
    font-size: 65px;
    line-height: 65px;
  }
  .order_block .column.right,
  .order_block .column.left {
    -ms-flex-negative: 2;
    flex-shrink: 2;
  }
  .tracking_table tr td:first-child {
    width: 45%;
  }
  .tracking_table tr td:last-child {
    width: 55%;
    font-size: 14px;
    line-height: 21px;
  }
  .tracking_table tr td {
    font-size: 13px;
  }
  .progress_name p {
    width: calc(100% - 30px);
    font-size: 15px;
  }
  .progress_stages {
    padding: 0;
  }
  .progress_name span {
    width: 30px;
    height: 30px;
  }
  .progress_stages:after {
    top: 38px;
    left: 14px;
    bottom: 8px;
  }
  .progress_name {
    width: 40%;
  }
  .progress_date {
    width: 30%;
  }
  .progress_date p {
    font-size: 13px;
  }
  .progress_city {
    width: 30%;
  }
  .progress_city p {
    font-size: 13px;
  }
  .tracking_progress_top {
    padding: 10px 31px;
  }
  .tracking_progress_top h3 {
    font-size: 17px;
  }
  .ship_order .tracking_progress_top {
    padding: 10px 25px;
  }
}
@media screen and (max-width: 1180px) {
  .news_item h5,
  .info_item h5 {
    font-size: 18px;
  }
  footer .column.main {
    width: 160px;
  }
  footer .contacts {
    width: 175px;
  }
  header .main_logo {
    margin-right: 40px;
  }
  .search_block {
    width: 240px;
  }
  .account_block .main_btn {
    min-width: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .lang_block {
    padding-top: 1px;
  }
  .list_cities .item {
    padding-left: 80px;
    padding-right: 10px;
  }
  .parallax.el12 {
    bottom: -178px;
    right: 1px;
    width: 137px;
    height: 214px;
  }
  .contacts .map {
    margin-right: 50px;
  }
  .info_item {
    padding-left: 50px;
    padding-right: 50px;
  }
  .service_info_text h1 {
    margin-bottom: 13px;
    font-size: 50px;
  }
  footer .column:nth-child(4) {
    padding-left: 13px;
  }
  .big-column {
    width: calc(100% - 161px - 200px);
    margin-right: -30px;
  }
  .big-column .column:first-child {
    width: 26%;
  }
  .big-column .column:nth-child(2) {
    width: 22%;
  }
  .big-column .column:nth-child(3) {
    width: 24%;
  }
  .big-column .column:nth-child(4) {
    width: 28%;
  }
}
@media screen and (max-width: 1080px) {
  nav ol li {
    margin-right: 15px;
  }
  .no_result_form form label {
    width: 65%;
    padding: 0 10px 0 0;
  }
  .no_result_form form button {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .order_block.with_thanks_block {
    padding-bottom: 88px;
  }
  .header_mobile_block {
    display: none !important;
  }
  .payment_error .close,
  .success_message .close,
  .registration_message .close,
  .registration_login .close,
  .restore_password .close {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .parallax.el12 {
    right: 0;
    top: -55px;
  }
  .news_single .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: block;
  }
  .article_content,
  .right_sidebar {
    width: 100%;
  }
  .news_item .img,
  .right_sidebar .news_item .img {
    margin-right: 20px;
  }
  .date_news {
    left: 160px;
  }
  .news_item img {
    width: 140px;
    margin-left: 0;
  }
  h2,
  .ship_order h5,
  .category_block .top_row h1,
  .top_row_inner_page h1,
  .landing_content h2,
  .contacts h1 {
    font-size: 25px;
  }
  .top_row_inner_page h1 {
    margin-bottom: 6px;
  }
  footer .column.main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: initial;
    margin-bottom: 5px;
  }
  footer .column.main .main_logo {
    margin-bottom: 0;
  }
  footer .social {
    position: absolute;
    right: 30px;
    top: 23px;
  }
  footer .column {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding-left: 10px!important;
    padding-right: 10px!important;
    width: auto;
  }
  footer .main_logo {
    margin-left: 0;
    margin-right: 0;
  }
  footer .brands {
    margin-bottom: 23px;
  }
  footer .container {
    padding-top: 22px;
  }
  #brands_footer .owl-dots {
    margin-bottom: -5px;
  }
  .all_news {
    padding-bottom: 30px;
  }
  .all_news .container {
    padding-bottom: 10px;
  }
  .news_page .news_block .container {
    padding-top: 25px;
  }
  .menu-btn,
  .search_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .left nav {
    display: none;
  }
  header .right > * {
    display: none;
  }
  header .right .search_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-btn,
  .search_icon {
    position: absolute;
    top: 50%;
    right: 11px;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .menu-btn {
    left: 10px;
    right: auto;
  }
  header .left,
  header .top_row {
    display: inline-block;
    text-align: center;
  }
  header .main_logo {
    margin: 0;
  }
  header {
    height: 60px;
  }
  header .container {
    padding-top: 17px;
    padding-bottom: 13px;
    height: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  header .top_row {
    position: relative;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 80;
  }
  .nav_dropdown ul,
  .nav_dropdown .ul_level2 {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .nav_dropdown ul a {
    padding: 0 0 0 20px;
    position: relative;
    display: table;
    width: auto;
    padding-right: 30px;
  }
  .nav_dropdown ul li:first-child {
    padding-top: 0;
  }
  .nav_dropdown .ul_level2 {
    padding-top: 20px;
    padding-left: 40px;
  }
  .nav_dropdown .ul_level2 a {
    padding: 0;
  }
  .nav_dropdown ul,
  .nav_dropdown .ul_level2 {
    width: auto;
  }
  .nav_dropdown .multilevel.active > a,
  .nav_dropdown .ul_level2 li {
    background: transparent;
  }
  .nav_dropdown .ul_level2 li:last-child {
    padding: 0;
  }
  .nav_dropdown .top a {
    position: relative;
    padding-right: 30px;
  }
  .nav_dropdown .top a:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    background: url(../img/menu-arrow.svg) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 5px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .nav_dropdown .top.active a:after {
    opacity: 1;
  }
  .header_bg {
    position: absolute;
    top: 100%;
    height: calc(100vh - 60px);
    width: 100%;
    background: transparent;
    display: none;
  }
  header.show .header_bg {
    display: block;
  }
  .wrapper {
    padding-top: 60px;
  }
  .top_block_main_page .container {
    padding-left: 0;
    padding-right: 0;
  }
  .top_block_main_page h1 {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 30px;
  }
  .top_block_main_page h1,
  .top_block_main_page h2 {
    padding-left: 17px;
    padding-right: 17px;
  }
  .top_block_main_page .main_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .top_block_main_page .main_row .left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .top_block_main_page .main_row .right {
    padding-left: 0;
    text-align: center;
  }
  .category_block .top_row h2,
  .search_block_interactive input,
  .news_single h1,
  .landing_content .bottom_row h5 {
    font-size: 25px;
  }
  .search_block_interactive input {
    height: 51px;
  }
  .container {
    padding-bottom: 37px;
  }
  .terminal_page_wrap .container {
    padding-top: 28px;
  }
  .category_block {
    padding-top: 34px;
  }
  .category_block.news_block {
    padding-bottom: 0;
  }
  .category_block .top_row h1 {
    margin-bottom: -4px;
  }
  .news_single h1 {
    margin-bottom: 37px;
  }
  .article_content {
    width: auto;
    margin-right: -20px;
    margin-left: -20px;
  }
  .article_content .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .article_content .go_back_bottom {
    padding-left: 20px;
    margin-top: 27px;
    margin-bottom: 44px;
  }
  .text h4 {
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .text p,
  .text ol,
  .text li,
  .text ul,
  .text span {
    line-height: 24px;
  }
  .text img {
    margin-top: -4px;
  }
  .article_content .share_block {
    border-top-width: 1px;
    margin-left: 0;
    margin-top: 18px;
    padding-top: 20px;
  }
  .share_block span {
    margin-right: 20px;
  }
  .right_sidebar h4 {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .news_single {
    padding-bottom: 0;
  }
  .landing_content .top_row .count {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .landing_content .top_row .count span {
    font-size: 22px;
  }
  .landing_content .bottom_row h5 .mobile_only {
    display: block;
  }
  .landing_content .bottom_row {
    padding-top: 27px;
  }
  .landing_content {
    padding-bottom: 12px;
  }
  .landing {
    padding-top: 0;
  }
  .top_row_inner_page {
    margin-bottom: 25px;
    padding-bottom: 0;
  }
  .top_row_inner_page p:last-child {
    margin-bottom: 0;
  }
  .terminal_page_container .top_row_inner_page {
    margin-bottom: 0;
  }
  .terminal_page_container .terminal_page a {
    margin-top: 0;
  }
  .parallax.el8 {
    right: -31px;
    bottom: 2%;
    width: 119px;
  }
  .terminals_single_page .parallax.el9 {
    left: auto;
    top: -12px;
    right: 9px;
    width: 81px;
  }
  .parallax.el4 {
    top: 13%;
    left: 69%;
    right: -53px;
    left: auto;
  }
  .parallax.el5 {
    right: -14px;
    top: 31%;
    width: 102px;
  }
  .parallax.el7 {
    top: 72.5%;
    left: 0px;
    width: 57px;
  }
  .list_cities {
    -webkit-column-count: initial;
    column-count: initial;
  }
  .list_cities .item {
    padding-right: 0;
  }
  .list_cities ul a {
    font-size: 20px;
  }
  .terminals_top_row .links a {
    height: 42px;
    min-width: 82px;
    padding: 5px 29px;
  }
  .terminals_top_row .links a.active {
    min-width: 92px;
  }
  .terminals_top_row {
    padding-bottom: 6px;
  }
  .list_cities .item:last-child {
    margin-bottom: 15px;
  }
  .terminals_map_page .terminals_top_row {
    padding-top: 7px;
  }
  #map_single {
    height: 350px;
    margin-bottom: 50px;
  }
  footer .row.nowrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .faq h2 {
    font-size: 18px;
  }
  .contacts .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .contacts .row .content {
    margin-top: 30px;
  }
  .contacts .row .content .row {
    margin-top: 30px;
  }
  .contacts .map {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .contacts .content {
    width: 100%;
    padding: 0;
  }
  .contacts .container {
    padding-top: 11px;
  }
  .contacts_page .contacts .map {
    height: 350px;
  }
  .contacts_page .contacts .container {
    padding-bottom: 0;
  }
  .contacts .row .content .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts .row .content {
    margin-top: 36px;
  }
  .contacts_page .contacts {
    margin-bottom: -3px;
  }
  .order_block .column.right,
  .order_block .column.left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .order_block > .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .describe_shipment {
    width: auto!important;
  }
  .describe_shipment label {
    width: 50%!important;
  }
  .describe_shipment label:first-child {
    margin-right: 5px!important;
  }
  .describe_shipment label:last-child {
    margin-left: 5px!important;
  }
  .order_form .describe_shipment {
    margin-top: 20px;
  }
  .order_block .calc_wrap h5 {
    margin-bottom: 17px;
  }
  .order_block .calc_wrap #calculator .row {
    margin-bottom: 30px;
  }
  label.checkbox {
    margin-bottom: 16px;
  }
  .select_row.w100 {
    padding-bottom: 21px;
  }
  .order_block .column.left {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .ship_order h5 {
    font-size: 18px;
  }
  .order_block {
    margin-bottom: 0;
  }
  .order_page .top_row_inner_page h1 {
    margin-bottom: 7px;
  }
  .order_page .top_row_inner_page p {
    line-height: 20px;
  }
  .order_page .top_row_inner_page {
    margin-bottom: 6px;
  }
  .order_block .column.left .top_row {
    padding-top: 22px;
  }
  .order_created .info {
    margin-right: 15px;
  }
  .order_created .bottom_row .column {
    margin-bottom: 23px;
  }
  .order_created h5 + .row {
    margin-bottom: 19px;
  }
  .order_created h5 + .row .info {
    margin-right: 28px;
  }
  .order_created h5 + .row .column {
    margin-bottom: 19px;
  }
  .order_created h5 + .row .column:last-child {
    margin-right: 0;
  }
  .order_created h5 + .row .column:last-child .info:last-child {
    margin-right: 0;
  }
  .order_created {
    margin-bottom: 23px;
  }
  label.checkbox span {
    line-height: 21px;
  }
  .ship_order .data table {
    margin-bottom: 11px;
  }
  .discount .line_hr {
    margin-top: 24px;
  }
  .payment_method .row {
    padding-right: 0!important;
    padding-top: 10px;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
  }
  .select_row {
    padding-top: 7px;
  }
  .payment_link {
    margin: -2px auto 16px;
  }
  .order_page.thanks .column.right {
    width: 100%;
  }
  .account_table {
    display: block;
  }
  .account_table thead {
    display: none;
  }
  .account_table td,
  .account_table tr,
  .account_table th,
  .account_table tbody,
  .account_table .mob_title,
  .account_table .mob_address {
    display: block;
  }
  .account_table td {
    border: 0!important;
    padding: 0;
    width: 25%!important;
    text-align: left;
    min-height: initial!important;
    padding: 0!important;
    height: auto!important;
  }
  .account_table td:last-child {
    border: 0!important;
  }
  .account_table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-left: 39px;
    -webkit-transition: 0s;
    transition: 0s;
    padding-left: 58px;
    padding-right: 51px;
    padding-top: 14px;
    padding-bottom: 0px;
    border-bottom: 1px solid #d4d4d4;
    max-height: 95px;
  }
  .account_table tr td {
    padding-right: 10px!important;
    margin-bottom: 17px;
    position: relative;
    opacity: 0;
  }
  .account_table tr td:nth-child(1),
  .account_table tr td:nth-child(2),
  .account_table tr td:nth-child(3),
  .account_table tr td:nth-child(4),
  .account_table tr td:nth-child(5) {
    opacity: 1;
  }
  .account_table tr.open {
    background-color: #f5f8fd!important;
  }
  .account_table tr.open td {
    opacity: 1!important;
  }
  .account_table tr.open .mob_address {
    opacity: 0;
  }
  .account_table tr.open .mobile_btn circle {
    fill: black;
    stroke: black;
  }
  .account_table tr.open .mobile_btn circle:first-child {
    stroke: transparent;
  }
  .account_table .mob_title,
  .account_table .mob_address {
    color: #333333;
    font-family: Muli;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .account_table .mob_address {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
    margin-top: 9px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .account_table .number {
    display: block;
  }
  .account_table .mobile_btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
    height: 40px;
    width: 23px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .account_table.with_checkbox tr:first-child {
    border-top: 1px solid #d4d4d4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account_table.with_checkbox td:first-child {
    display: block;
    padding: 0!important;
    position: static;
    width: 0!important;
  }
  .account_table.with_checkbox td:first-child .checkbox {
    position: absolute;
    left: 20px;
    top: 42%;
    width: 16px!important;
    height: 16px!important;
  }
  .account_table.offers tr {
    padding-left: 116px;
    padding-right: 33px;
  }
  .account_table.offers td:first-child {
    display: block;
    padding: 0!important;
    position: static;
    width: 0!important;
  }
  .account_table.offers td:last-child {
    display: none;
  }
  .account_table.offers .status {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .account_tabs .bottom_btns .main_btn {
    margin-right: 20px;
  }
  .bottom_btns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bottom_btns .main_btn {
    width: 100%;
    margin-right: 20px;
  }
  .bottom_btns .main_btn:last-child {
    margin-right: 0;
  }
  .select_date_block .checkbox {
    display: block;
  }
  .account_tabs {
    padding-top: 7px!important;
  }
  .account_tabs .tabs_content {
    margin-top: 19px!important;
    padding-bottom: 23px;
    background: white;
    margin-bottom: 3px;
  }
  .account_tabs .item {
    padding-top: 22px!important;
  }
  .account_tabs .tabs_top_row {
    margin-bottom: 21px;
  }
  .account_tabs .services_dropdown {
    width: 134px;
    margin-right: 20px;
  }
  .account_tabs .services_dropdown:last-child {
    margin-right: 0;
  }
  .tab_text p,
  .tab_text ol,
  .tab_text li,
  .tab_text ul,
  .tab_text span {
    line-height: 22px;
  }
  .tab_text {
    margin-bottom: 26px;
  }
  .card_settings .debit_card_content h5 {
    font-size: 18px;
  }
  .card_settings .debit_card_content .row {
    margin-bottom: 16px;
  }
  .user_settings {
    margin-bottom: 54px;
  }
  .account_table.with_checkbox .open td:first-child .checkbox {
    top: 48%;
  }
  .account_table tr td {
    word-break: break-word;
  }
  header .container > .row.nowrap {
    position: static;
  }
  header .search_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  header .search_block form {
    right: 20px;
    margin: 0;
    left: 67px;
    width: auto;
    height: 42px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header .search_block form input,
  header .search_block form button {
    height: 100%;
  }
  header .search_block form input {
    font-size: 14px;
  }
  header .search_block.active {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .search_block .close {
    display: block;
  }
  a.link .desk {
    display: none;
  }
  a.link .mobile_only {
    display: inline;
  }
  .article_content {
    padding-right: 0;
  }
  .right_sidebar .news_item {
    width: calc(50% - 6px) !important;
    margin-left: 0;
    margin-right: 6px;
  }
  .right_sidebar .news_item:nth-child(2n + 2) {
    margin-right: 0;
    margin-left: 6px;
  }
  .right_sidebar .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order_block {
    padding-bottom: 20px;
  }
  .account_tabs .bottom_btns .main_btn {
    width: auto;
  }
  .page404 {
    padding: 0;
    min-height: 400px;
    margin-top: 60px;
  }
  .page404 .error_text {
    padding-left: 0;
  }
  .top_block_main_page .left,
  .top_block_main_page .right {
    width: auto;
  }
  .top_block_main_page .right {
    padding-bottom: 41px;
  }
  .top_block_main_page {
    padding-top: 43px;
  }
  footer .column.main {
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  footer .column.main .text {
    width: 100%;
    display: block;
    max-width: initial;
    margin-bottom: 0;
  }
  footer .column .text {
    min-height: initial;
  }
  footer .contacts {
    height: auto;
    min-height: initial;
  }
  footer .contacts .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .contacts .content > div,
  footer .contacts .content > a {
    margin-right: 30px;
  }
  footer .contacts .tels {
    margin-bottom: 0;
    width: auto;
  }
  .search_block .buttons {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  header .buttons {
    padding: 0 59px;
  }
  header .search_block .main_btn {
    font-size: 10px;
  }
  header .search_block form input {
    font-size: 10px;
    padding: 5px 10px;
    background: white;
  }
  header .search_block form {
    width: calc(100% - 70px);
    left: 50px;
  }
  header.with_bg .search_block input {
    background: white;
    border: 1px solid #d4d4d4;
    height: 42px;
    border-radius: 3px 0 0 3px;
    border-right: 0;
  }
  header .search_block .wrap button {
    border-radius: 0 3px 3px 0;
  }
  header .search_block .main_btn span,
  header .buttons .main_btn span {
    display: none;
  }
  header .search_block .main_btn:before,
  header .buttons .main_btn:before {
    content: attr(data-mob-text);
  }
  .search_block .close {
    padding: 5px 13px;
  }
  header .buttons .main_btn {
    font-size: 10px;
    margin-right: 10px;
  }
  header .buttons .main_btn:last-child {
    margin: 0;
  }
  .search_block .main_btn,
  .search_block button,
  header .search_block .main_btn {
    min-width: initial!important;
    padding: 4px 15px!important;
  }
  .terminals_block .parallax.el1 {
    top: 80px;
  }
  #calculator .row.bottom .text {
    line-height: 19px;
  }
  .news_block .triangle {
    display: none;
  }
  .page_slide_wrap .section > div {
    padding-top: 0;
  }
  .top_block_main_page .right {
    padding-top: 100px;
  }
  .top_block_main_page .right > * {
    position: relative;
    z-index: 2;
  }
  .top_block_main_page .triangle {
    display: none;
  }
  footer .triangle,
  .terminals_block .parallax.el1 {
    display: none!important;
  }
  .main_page .terminals_block {
    padding-bottom: 30px;
  }
  .terminals_block .parallax.el2 {
    bottom: -51px;
    left: 30%;
  }
  footer .copy {
    margin-bottom: 10px;
  }
  .order_block form {
    margin: auto;
  }
  .order_block .order_controll_btn {
    margin-left: auto;
    margin-right: auto;
  }
  .order_block .calculator {
    max-width: initial!important;
  }
  footer .company {
    margin-top: 0;
  }
  .lang_block {
    display: block;
    width: 100%;
    text-align: center;
    margin: 11px 0 0;
  }
  .order_block .right .wrap {
    position: static!important;
  }
  .order_block .right .wrap > div {
    height: auto!important;
  }
  .order_block .column.right > div {
    height: auto!important;
  }
  table {
    max-width: 100%;
  }
  .info_item .row {
    max-width: initial;
  }
  .info_item .row {
    width: auto;
    min-width: 100%;
  }
  .info_item h5 {
    margin-bottom: 0;
  }
  .info_item .title {
    padding-bottom: 22px;
  }
  .news_item_latest .date_news {
    left: 234px;
  }
  .news_item_simple.new .hover_block a.main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .news_item_simple.new .hover_block .title {
    font-size: 25px;
    line-height: 25px;
  }
  .news_item_simple.new .hover_block .date_news {
    left: 15px;
  }
  .news_item_simple.new:not(.w100) {
    width: calc(50% - 24px);
  }
  .news_single .top_block {
    display: block;
    margin-bottom: 20px;
  }
  .text img {
    margin-bottom: 25px;
  }
  .right_sidebar .share_block {
    display: none;
  }
  .news_single .container {
    padding-top: 25px;
  }
  .news_single .top_block h1 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .landing_content .content {
    padding-left: 55px;
  }
  .landing_content h2 {
    line-height: initial!important;
  }
  .landing_content .bottom_row {
    margin-top: 60px;
  }
  .contacts.in_page {
    margin-left: 50px;
  }
  .no_result_form form label {
    width: 59%;
    padding: 0 25px 0 0;
  }
  .no_result_form form button {
    width: 41%;
  }
  .terminals_city_list.w33 {
    width: calc(50% - 24px);
  }
  .terminals_city_toolbar .w33,
  .terminals_city_toolbar .w67 {
    width: calc(100% - 24px);
  }
  .terminals_city_alphabet {
    padding: 0 19px;
  }
  /*.about_us_text {
        .w50 {
            width: 100%;
        }
    }
    .about_us_service {
        .w50 {
            width: 100%;
        }
    }*/
  .services_additional_list .w50 {
    width: 100%;
  }
  .services_additional_list:nth-child(even) .additional_list_text {
    justify-content: center;
  }
  .services_additional_list:nth-child(odd) .additional_list_text {
    justify-content: center;
  }
  .list_text_wrap {
    margin-bottom: 20px;
  }
  .service_info_wrap .row .w50 {
    width: calc(35% - 24px);
  }
  .service_info_wrap .row .w50.service_info_text {
    width: calc(65% - 24px);
  }
  .service_info_wrap:after {
    bottom: 37px;
  }
  .service_info_text {
    margin-bottom: 37px!important;
  }
  .about_us_service_text {
    padding: 80px 0 0 0;
  }
  .about_us_service_img {
    padding: 0;
  }
  .about_us_service_text h3 {
    margin: 25px 0 15px 0;
    font-size: 20px;
  }
  .about_us_service {
    margin-top: -70px;
  }
  .about_bottom_bg {
    padding-bottom: 54px;
  }
  .about_us_service_text p {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .about_us_service_text ol li {
    font-size: 23px;
  }
  .about_us_service_text ol li span {
    margin-top: 4px;
    font-size: 13px;
  }
  .about_team .tabs h2 {
    margin-bottom: 7px;
    font-size: 30px;
  }
  .about_map h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
  .about_map .w50 {
    width: 100%;
  }
  .about_map .content.content_text.w50 {
    width: 100%;
  }
  .about_us_text .w50 {
    width: 100%;
  }
  .about_us_text p {
    max-width: 100%;
  }
  .about_us_text h4 {
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
  }
  .about_us_title h1 {
    font-size: 50px;
  }
  .about_us_title.container {
    padding-top: 51px;
    padding-bottom: 42px;
  }
  .big-column {
    width: 100%;
    margin-right: 0;
  }
  .footer-text {
    width: 100%;
    margin-top: 0;
  }
  .footer-text p {
    text-align: center;
  }
  .terminals_block {
    padding-top: 50px!important;
  }
  .top_block_main_page {
    padding-bottom: 50px;
  }
  header .right .search_icon {
    background: #006ADE;
    border-radius: 3px;
  }
  header .search_block form {
    width: 100%;
    display: block !important;
    position: static;
    transform: translateY(0);
  }
  header .search_block {
    padding: 9px 20px;
  }
  header .search_block .close,
  header .search_block .buttons {
    display: none  !important;
  }
  header .search_block form input {
    font-size: 13px;
  }
  header.with_bg .search_block input {
    background: rgba(0, 0, 0, 0.03);
    border: none;
  }
  .order_type_item.w33 {
    width: calc(50% - 24px);
  }
  .registration_form_item.person_information {
    padding: 0;
  }
  .registration_form_item.w50 {
    width: calc(100% - 24px);
  }
  .registration_form_submit a.main_btn,
  .registration_form_item.person_information .row .w50 {
    width: calc(50% - 24px);
  }
  .nav_dropdown svg path {
    fill: white;
  }
  .nav_dropdown ul.ul_level1 {
    padding-top: 5px;
  }
  .mobile_block_wrap {
    padding-top: 20px;
  }
  .header_mobile_block .ul_level1 > li:last-child {
    padding-bottom: 0;
  }
  .header_mobile_block nav {
    padding-bottom: 34px;
  }
  .nav_dropdown ul.ul_level1 li.multilevel span:not(.link_item):after {
    filter: none;
  }
}
@media screen and (max-width: 840px) {
  .landing_content .bottom_row {
    margin-top: 30px;
  }
  .contacts.in_page {
    margin-left: 0px;
  }
  .news_item_simple.new .img img {
    height: 240px;
  }
  .landing_content > .row:after {
    width: 3px;
    height: 34px;
    display: none;
  }
  .landing_content .text {
    position: relative;
  }
  .landing_content .text:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 34px;
    height: 3px;
    background: url(../img/line_landing.svg) repeat-x center left;
    background-size: auto 3px;
    -webkit-transform: rotate(-90deg) translateY(-17px) translateX(0%);
    transform: rotate(-90deg) translateY(-17px) translateX(0%);
    bottom: -5px;
  }
  .terminals_controll .terminal_list {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }
  .main_page .terminals_controll .map {
    display: none;
  }
  .terminals_controll .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .terminals_controll .map {
    margin-left: 0;
  }
  .terminal_list_item .column {
    width: 35%;
  }
  .terminal_list_item:after {
    left: 50%;
  }
  .terminal_list_item .column:nth-child(2) {
    width: calc(35% + 47px);
  }
  .terminal_list_item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .order_courier .text span {
    font-size: 16px;
  }
  .order_courier .right .label {
    margin-right: 20px;
  }
  .landing_content .top_row {
    margin-bottom: 18px;
  }
  .landing_content > .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .landing_content > .row:nth-child(2n + 2) {
    padding-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .landing_content > .row:nth-child(2n + 2) .text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: -1px;
    margin-top: 70px;
    padding-bottom: 0;
  }
  .landing_content > .row:nth-child(2n + 2) .text:after {
    bottom: auto;
    top: -38px;
  }
  .landing_content > .row > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .landing_content > .row > .text {
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 40px;
  }
  .landing_content > .row > .img {
    width: auto!important;
    display: table!important;
    margin: auto!important;
    padding: 15px!important;
  }
  .landing_content .text p {
    letter-spacing: 0.13px;
  }
  .terminals_controll .map {
    height: 350px;
  }
  .terminals_controll .terminal_list {
    border-radius: 0!important;
    padding-bottom: 0;
  }
  .terminals_controll .map {
    margin-top: 10px;
  }
  .page404 .content_404 {
    max-width: initial;
  }
  .terminals_controll .left {
    width: 100%;
  }
  .landing_content .content {
    padding-left: 0px;
  }
  .service_info_wrap .row .w50 {
    width: 100%;
  }
  .service_info_wrap .row .w50.service_info_text {
    width: 100%;
  }
  .service_info_wrap:after,
  .service_info_img {
    display: none;
  }
  .service_info_text {
    margin-bottom: 12px!important;
  }
  .info_slider_item {
    width: 460px;
  }
  .service_info_wrap .container {
    padding-top: 20px;
  }
  .about_us_service_img {
    display: none;
  }
  .about_us_service_text.w50 {
    width: 100%;
  }
  .about_us_service {
    margin-top: 0;
  }
  .about_us_service_text {
    padding: 25px 0 0 0;
  }
  .about_us_service {
    padding-bottom: 0;
  }
  .about_team .tabs .main_tab,
  .about_team .tabs .main_tab.active {
    padding: 0 25px 0 0;
  }
  .about_bottom_bg {
    padding-bottom: 15px;
  }
  .w50.service_description_text,
  .w50.service_description_advantage {
    width: 100%;
  }
  .service_description_advantage {
    padding: 10px 0;
  }
  .service_description_advantage p {
    font-size: 27px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .service_description_text h3 {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .service_description_text h4 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .service_description_text p {
    margin-bottom: 14px;
  }
  .order_type_item {
    padding: 15px 15px;
  }
}
@media screen and (min-width: 769px) {
  .all_news.twin0 .news_item_simple:nth-last-child(1),
  .all_news.twin0 .news_item_simple:nth-last-child(2),
  .all_news.twin0 .news_item_simple:nth-last-child(3) {
    border: 0;
  }
  .all_news.twin2 .news_item_simple:nth-last-child(1),
  .all_news.twin2 .news_item_simple:nth-last-child(2) {
    border: 0;
  }
  .all_news.twin1 .news_item_simple:nth-last-child(1) {
    border: 0;
  }
}
@media screen and (max-width: 768px) {
  .all_news.twin-mob-0 .news_item_simple:nth-last-child(1),
  .all_news.twin-mob-0 .news_item_simple:nth-last-child(2) {
    border: 0;
  }
  .all_news.twin-mob-1 .news_item_simple:nth-last-child(1) {
    border: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news_block .cards .column {
    width: 100%;
    margin-bottom: 0;
  }
  .all_news .container {
    padding-top: 39px;
  }
  footer .contacts {
    width: 100%;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    margin-right: 0;
  }
  footer .row.nowrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .column {
    min-height: initial;
    width: 25%;
  }
  footer .contacts {
    -webkit-transform: translateX(0px) !important;
    transform: translateX(0px) !important;
  }
  footer .bottom {
    margin-top: 2px;
  }
  .account_table td {
    width: 33.333%!important;
  }
  .account_table tr td:nth-child(5) {
    opacity: 0;
  }
  .right_sidebar .row {
    display: block;
  }
  .right_sidebar .news_item {
    width: 100% !important;
    margin-left: 0!important;
    margin-right: 0px!important;
  }
  footer .contacts .top {
    margin-bottom: 15px;
  }
  footer .brands + .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .news_item.big {
    height: 339px;
  }
  .info_item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .news_item_simple.show_hover_block {
    height: 200px;
    margin-bottom: 20px!important;
  }
  .latest_news .column .news_item_simple.show_hover_block:last-child {
    margin-bottom: 20px!important;
  }
  .terminals_map {
    height: 495px;
  }
}
@media screen and (max-width: 720px) {
  .order_courier {
    position: relative;
    padding: 25px 24px 27px 24px;
  }
  .order_courier .text {
    line-height: 17px;
    font-size: 14px;
  }
  .order_courier .text span {
    display: inline;
    line-height: inherit;
  }
  .order_courier .right .label span {
    margin-right: 15px;
  }
  .order_courier .right .label {
    margin-right: 0;
  }
  .order_courier .right .label .time {
    width: 70px;
    height: 34px;
  }
  .order_courier .right button {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 13px;
    width: 100%;
  }
  .terminals_single_page .terminals_block {
    padding-bottom: 74px;
  }
  .accordion .top p {
    line-height: 23px;
  }
  .faq .row {
    margin: 0;
    display: block;
  }
  .faq .row .column {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .faq .row .column:last-child {
    margin-bottom: 0;
  }
  .accordion .content * {
    max-width: initial;
  }
  .faq h2 {
    margin-bottom: 20px;
  }
  .accordion .content {
    padding-bottom: 1px;
  }
  .help_page {
    padding-bottom: 13px;
  }
  .terminals_block .rectangle {
    bottom: -48px;
    -webkit-clip-path: polygon(0 11%, 100% 0%, 100% 91%, 0% 100%);
    clip-path: polygon(0 11%, 100% 0%, 100% 91%, 0% 100%);
  }
  .accordion {
    max-width: initial;
  }
  .parallax.el17 {
    right: auto;
    top: 34%;
    left: 9%;
  }
  .parallax.el18 {
    top: 53%;
    right: 42%;
  }
  .parallax.el14 {
    right: auto;
    left: 15%;
    top: 83%;
  }
  .big-column .column:first-child,
  .big-column .column:nth-child(2),
  .big-column .column:nth-child(3) {
    width: calc(100% / 3);
  }
  .adresses_panel_info {
    padding: 15px 15px 15px 15px;
  }
  .add_line_btn {
    padding: 20px 15px 0 15px;
  }
  .add_line_btn:before {
    left: 15px;
    right: 15px;
  }
}
@media screen and (max-width: 680px) {
  .category_block .top_row h2,
  .search_block_interactive input,
  .news_single h1,
  .landing_content .bottom_row h5 {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
  }
  .landing_content .bottom_row h5 {
    line-height: 25px;
    margin-bottom: 20px;
  }
  .search_block_interactive input {
    padding-left: 19px;
    padding-top: 8px;
  }
  .terminals_block .top_row a {
    font-size: 12px;
  }
  .search_block_interactive button.icon svg {
    width: 27px;
    height: 27px;
  }
  .search_block_interactive button.icon {
    right: 9px;
  }
  .terminals_block .top_row a,
  a.link {
    margin-bottom: -2px;
    top: 4px;
    margin-right: 2px;
  }
  a.link:after {
    margin-left: 7px;
  }
  a.link:after {
    margin-left: 10px;
  }
  .terminals_block .parallax.el2 {
    display: none;
  }
  .category_block .top_row {
    margin-bottom: 26px;
  }
  .terminals_single_page .terminals_block .top_row a {
    font-size: 14px;
    margin-bottom: 20px!important;
  }
  .order_steps .item .number {
    width: 30px;
    height: 30px;
  }
  .order_steps .item {
    display: block;
    text-align: center;
  }
  .order_steps .item .text {
    letter-spacing: -1px;
  }
  .order_steps .item .number {
    margin: 0 auto 7px;
  }
  .order_block .column.left .top_row {
    padding-bottom: 22px;
  }
  .order_steps {
    padding-left: 3px;
    padding-right: 4px;
  }
  .order_steps .item {
    padding: 0 4px;
  }
  .order_steps .item {
    background: transparent;
  }
  .order_steps .item:nth-child(2) {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    top: 1px;
    background: transparent;
  }
  .order_steps .item:nth-child(2):before {
    content: "";
    position: absolute;
    left: 11px;
    right: 11px;
    top: 0;
    bottom: 0;
    background: white;
    z-index: -1;
  }
  .order_steps .item span {
    font-size: 16px;
    letter-spacing: 0;
  }
  .order_steps:before {
    top: 17px;
    left: 70px;
    right: 70px;
  }
  .order_form .def3el.two_small {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .order_form .def3el.two_small label:nth-child(1) {
    margin-right: 10px;
  }
  .order_form .def3el.two_small label:nth-child(2) {
    margin-left: 10px;
    margin-right: 0;
  }
  .order_form .def3el.two_small label:nth-child(1),
  .order_form .def3el.two_small label:nth-child(2) {
    width: calc(50% - 10px);
    margin-bottom: 16px;
  }
  .order_form .def3el.two_small label:nth-child(3) {
    width: 100%;
  }
  .order_form .def3el.two_small label:nth-child(3) input {
    max-width: initial;
  }
  .order_form h5 {
    margin-bottom: 18px;
  }
  .input_grid {
    padding-bottom: 5px;
    margin-bottom: 22px!important;
  }
  .order_steps .text a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: -15px;
  }
  .order_block .column.left .top_row {
    height: auto;
  }
  .order_steps .item.active .number {
    width: 30px;
    height: 30px;
  }
  .order_steps .item .number {
    font-size: 17px;
  }
  .terminals_city_list.w33 {
    width: calc(100% - 24px);
  }
  .terminals_city_list ol {
    column-count: 4;
    padding-right: 0;
  }
  .terminals_city_list {
    padding-top: 25px;
  }
  .about_us_title h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .about_us_title p {
    max-width: 662px;
    font-size: 16px;
    line-height: 25px;
  }
  .about_us_title.container {
    padding-bottom: 90px;
  }
  .about_top_bg {
    padding: 0 0 100px 0;
  }
  .about_us_text h4 {
    font-size: 35px;
  }
  .order_type_item.w33 {
    width: calc(100% - 24px);
  }
  .order_type_item {
    padding: 0;
  }
  .account_panel_orders_types {
    padding: 55px 17px 34px 17px;
  }
}
@media screen and (max-width: 640px) {
  h2,
  .ship_order h5,
  .category_block .top_row h1,
  .top_row_inner_page h1,
  .landing_content h2,
  .contacts h1 {
    font-size: 22px;
    line-height: initial;
  }
  .search_block_interactive {
    width: 100%;
    margin-top: 25px;
  }
  .section .terminals_block .top_row {
    flex-wrap: wrap;
    height: auto !important;
    padding-top: 23px;
    padding-left: 0 !important;
  }
  .section .terminals_block .top_row h2 {
    padding-left: 19px;
  }
  .terminals_empty,
  .search_block_interactive .results ul {
    padding-top: 10px;
  }
  .terminals_block .top_row {
    margin-bottom: 96px;
  }
  .ship_order h5 {
    font-size: 18px;
  }
  .row.def3el {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .order_form .def3el label:nth-child(2),
  .order_form .def2el label:nth-child(2) {
    margin-right: 0!important;
  }
  .order_form .def3el label:nth-child(1),
  .order_form .def2el label:nth-child(1) {
    margin-right: 20px;
  }
  .order_form .def3el,
  .order_form .def2el {
    max-width: initial;
  }
  .order_form .def3el label:nth-child(1),
  .order_form .def2el label:nth-child(1) {
    margin-right: 10px!important;
  }
  .order_form .def3el label:nth-child(2),
  .order_form .def2el label:nth-child(2) {
    margin-left: 10px!important;
    margin-right: 0!important;
  }
  .order_form .def3el label:nth-child(1),
  .order_form .def2el label:nth-child(1),
  .order_form .def3el label:nth-child(2),
  .order_form .def2el label:nth-child(2) {
    width: calc(50% - 10px) !important;
    margin-bottom: 16px;
  }
  .order_form .def3el label:nth-child(3) input,
  .order_form .def2el label:nth-child(3) input {
    margin-bottom: 16px!important;
  }
  .order_form .def2el label {
    margin-bottom: 0!important;
  }
  .order_form .def3el {
    margin-bottom: 0px;
  }
  .input_grid:last-child {
    margin-bottom: -3px !important;
  }
  .payment_method {
    padding-bottom: 21px;
    margin-bottom: 22px!important;
  }
  .order_form label > span {
    margin-right: -5px;
  }
  .payment_method_content .def3el label:last-child {
    width: calc(50% - 10px) !important;
  }
  .order_form .row.mobile_100_w {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .order_form .row.mobile_100_w label {
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 18px!important;
  }
  .order_form .row.mobile_100_w label:last-child {
    margin-bottom: 0px!important;
  }
  .order_form .row.mobile_100_w label input {
    max-width: initial;
  }
  .payment_method_content .select_row {
    margin-bottom: 16px;
  }
  .cryptocurrency_content .img {
    margin-right: 10px;
  }
  .user_settings .def2el.two_small label {
    margin-bottom: 0!important;
    width: 100%!important;
  }
  .user_settings .def2el.two_small label:nth-child(1),
  .user_settings .def2el.two_small label:nth-child(2) {
    width: 100%!important;
    margin: 0!important;
  }
  .user_settings .def2el.two_small label:nth-child(1) {
    margin-bottom: 18px!important;
  }
  .card_settings .order_controll_btn .main_btn {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .search_block_interactive {
    width: 100%!important;
  }
  .search_block_interactive.active .icon {
    right: 9px;
  }
  .payment_method_content .select_row {
    padding-bottom: 16px;
  }
  .page404 .error_text {
    line-height: 163px;
    font-size: 156px;
  }
  .terminal_list {
    margin-top: 100px;
  }
  .terminals_controll .terminal_list {
    margin-top: 0;
  }
  .terminals_controll .left .line > .top_row input {
    border: 1px solid #f3f4fa;
    border-radius: 3px;
  }
  .payment_method .radio_btn .main img {
    max-width: 60px;
  }
  .payment_method .radio_btn .main svg {
    max-width: 30px;
  }
  .payment_method .radio_btn .main span {
    font-size: 12px;
  }
  .payment_method .radio_btn {
    height: 80px;
  }
  .invoice_content .accept {
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .change_email {
    margin-left: -10px;
    margin-right: -10px;
  }
  .change_email .row {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .change_email .row .label {
    margin-left: 0!important;
  }
  .news_item_simple.new .img img {
    height: 200px;
  }
  .order_form .row .row.credit_card_content {
    max-width: 100%;
  }
  .payment_method_title p {
    font-size: 18px;
    line-height: 22px;
  }
  .active_payment_method {
    padding: 20px 0 0 0;
  }
  .payment_method_title {
    padding: 0 0 20px 0;
  }
  .order_form .row .row.margin0 {
    margin-left: 0;
    margin-right: 0;
  }
  .tracking_form .order_form .row.mobile_100_w label {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
  .tracking_form .order_form .row.mobile_100_w .label.w50 {
    width: 100%!important;
  }
  .tracking_form.popup_block .content_wrap {
    padding: 40px 30px 20px 30px;
  }
  .tracking_form_table {
    padding: 15px;
    margin: 20px 0 15px 0;
  }
  .tracking_form .order_form {
    margin-bottom: 0;
  }
  .tracking_modal_title {
    padding: 20px 0 25px 0;
  }
  .tracking_modal_title h3 {
    font-size: 18px;
    line-height: 25px;
    max-width: 390px;
  }
  .popup_block .close {
    top: 16px;
    right: 10px;
  }
  .terminals_city_alphabet ol {
    width: 100%;
    padding: 10px 0;
  }
  .terminals_city_alphabet ol li a {
    padding: 6px 4px;
  }
  .terminal_order_courier {
    justify-content: center;
    flex-direction: column;
  }
  .terminal_order_courier .text p {
    text-align: center;
  }
  .managers_slider-tabs {
    flex-wrap: wrap;
  }
  .managers_slider_control {
    padding: 10px 0;
  }
  form.registration_form label.w50,
  .registration_form_submit a.main_btn,
  .registration_form_item.person_information .row .w50 {
    width: calc(100% - 24px);
  }
  .registration_form_submit {
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  footer .column {
    min-height: initial;
    width: 50%;
  }
  .terminal_list_item:after {
    left: 53.1%;
  }
  .terminal_list_item .column:nth-child(1) {
    padding-right: 20px;
  }
  .terminal_list_item .column:nth-child(2),
  .terminal_list_item .column {
    width: 50%;
  }
  .terminal_list_item span {
    word-break: break-word;
  }
  footer .column:nth-child(5) {
    -webkit-transform: none;
    transform: none;
  }
  .account_table td {
    width: 50%!important;
  }
  .account_table tr td:nth-child(4) {
    opacity: 0;
  }
  .account_table.offers td:nth-child(3) {
    padding-left: 8px!important;
  }
  .services_additional_list {
    padding: 15px 0;
  }
  .additional_list_text h3 {
    margin-bottom: 18px;
    font-size: 27px;
  }
  .list_text_wrap {
    margin-bottom: 10px;
  }
  .services_additional_block {
    padding: 20px 15px;
  }
  .additional_list_img {
    min-height: 225px;
  }
  .settings_panel_data label.w53,
  .settings_panel_data label.w47 {
    width: calc(100% - 30px);
  }
  .settings_panel_data label.w100,
  .settings_panel_data label.w53,
  .settings_panel_data label.w47 {
    margin-bottom: 25px;
  }
  .account_panel_settings {
    padding: 12px 15px 12px 15px;
  }
}
@media screen and (max-width: 565px) {
  #calculator {
    border-radius: 0;
    width: 100vw;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .main_page #calculator {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main_page #calculator::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    height: 53.5%;
    background: white;
    -webkit-clip-path: polygon(0 11%, 100% 0%, 100% 94%, 0% 100%);
    clip-path: polygon(0 11%, 100% 0%, 100% 94%, 0% 100%);
  }
  .main_page .terminals_block {
    margin: 0;
    padding-top: 28px;
  }
  .top_block_main_page .main_row .right {
    text-align: left;
  }
  .top_block_main_page .right {
    width: 100%;
    max-width: 100vw;
  }
  .top_block_main_page h1 {
    font-size: 45px;
  }
  .top_block_main_page h2 {
    font-size: 18px;
  }
  .top_block_main_page .main_row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .top_block_main_page .container {
    padding-bottom: 0;
    display: block;
    min-height: initial;
  }
  .top_block_main_page .triangle {
    display: none;
  }
  .top_block_main_page h1 {
    max-width: 90%;
  }
  .info_slider_item {
    width: 235px;
  }
  .info_slider_item a {
    height: 159px;
  }
  .service_info_slider_wrap {
    padding: 0;
  }
  .service_info_text h1 {
    margin-bottom: 13px;
    font-size: 33px;
  }
  .service_info_text p {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 23px;
  }
  .service_info_wrap .container {
    padding-bottom: 3px;
  }
  .service_description_text p {
    font-size: 13px;
    line-height: 23px;
  }
  .service_description_advantage p {
    font-size: 25px;
    line-height: 38px;
  }
  .service_description_wrap .container {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 540px) {
  footer .column .ul_wrap {
    display: block !important;
  }
}
@media screen and (max-width: 540px) {
  footer .column.main {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  footer .social {
    position: static;
  }
  footer .row.nowrap {
    margin-left: 0;
    margin-right: 0;
  }
  footer .column {
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px dashed #d4d4d4;
  }
  footer .column .ul_wrap {
    display: none;
  }
  footer .column .ul_wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 17px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .column .ul_wrap ul li {
    width: 50%;
    margin-bottom: 15px;
  }
  footer .column .ul_wrap ul li:nth-child(2n + 1) {
    padding-right: 10px;
  }
  footer .column .ul_wrap ul li:nth-child(2n + 2) {
    padding-left: 10px;
  }
  footer .column .ul_wrap ul:after {
    content: "";
    clear: both;
    display: table;
  }
  footer .column.open .top img {
    -webkit-transform: rotate(180deg) translateY(-50%);
    transform: rotate(180deg) translateY(-50%);
  }
  footer .contacts,
  footer .column.main {
    border: 0;
  }
  footer .column .top img {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  footer .column .top {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  footer .column.main {
    margin-bottom: 32px;
  }
  footer .contacts {
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 21px!important;
    padding-bottom: 21px!important;
    margin-bottom: 0px;
  }
  footer .contacts .content {
    padding-right: 0;
    padding-top: 0;
  }
  footer .contacts .content span a {
    display: inline;
    color: #006ade;
  }
  .terminal_list_item .column {
    width: 100%!important;
    padding-left: 0!important;
  }
  .terminal_list_item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .terminal_list_item:after {
    display: none;
  }
  .terminal_list_item:before {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    border-bottom: 1px dashed #d4d4d4;
  }
  .terminal_list_item:last-child {
    border: 0;
  }
  .terminal_list_item:last-child:before {
    display: none;
  }
  .terminals_controll .terminal_list {
    padding-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .order_courier .text span {
    font-size: 14px;
  }
  .order_courier .right .time {
    font-size: 16px;
  }
  .list_cities ul a {
    font-size: 16px;
    line-height: 26px;
  }
  .list_cities .letter {
    font-size: 16px;
  }
  .list_cities .letter .count {
    font-size: 10px;
    line-height: 14px;
  }
  .list_cities .item {
    padding-left: 39px;
    padding-right: 18px;
    padding-top: 3px;
    margin-bottom: 35px;
  }
  .order_block {
    padding-left: 0;
    padding-right: 0;
  }
  .order_block .column.right,
  .order_block .column.left {
    padding-left: 20px;
    padding-right: 20px;
  }
  .order_block .content .order_controll_btn {
    padding-bottom: 0;
  }
  .order_block .content .order_controll_btn div:last-child {
    margin-bottom: 0;
  }
  .order_form .describe_shipment {
    margin-top: 10px;
  }
  .order_form label > span {
    margin-bottom: 5px;
  }
  .order_block #calculator .row.size {
    margin-bottom: 0;
  }
  .order_controll_btn .line_hr {
    margin-bottom: 19px;
  }
  .order_controll_btn div {
    margin-bottom: 21px;
  }
  .order_form .describe_shipment {
    margin-top: 5px;
  }
  .order_form .describe_shipment {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .order_form .describe_shipment {
    padding-bottom: 20px;
    margin-bottom: 24px;
    margin-top: 10px;
  }
  h5,
  .calc_wrap h5 {
    font-size: 16px;
  }
  .order_form .price {
    margin-right: 15px;
  }
  .order_block .column.right {
    padding: 0;
  }
  .order_block .top_row {
    padding: 22px 20px 15px;
    min-height: 74px;
    height: auto;
  }
  .ship_order .data,
  .discount,
  .ship_order .bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .discount .item,
  .discount input {
    width: 100%!important;
  }
  .ship_order .bottom {
    padding: 19px 20px 23px;
  }
  .navigation {
    padding: 8px 20px 0;
  }
  .order_block .column.left .top_row {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 24px;
  }
  .order_created .wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
  .order_created .bottom_row .column:nth-child(2) {
    margin-right: 0;
    padding-right: 0;
  }
  .order_created .bottom_row .column:nth-child(2)::after {
    display: none;
  }
  .order_created .bottom_row .column:nth-child(2) .info:last-child {
    margin-right: 0;
  }
  .order_created .bottom_row .column:last-child {
    display: block;
    margin-bottom: 0;
  }
  .order_created .wrap {
    padding-bottom: 24px;
  }
  .cryptocurrency_content {
    padding-top: 0;
    padding-bottom: 20px!important;
  }
  .cryptocurrency_content .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .cryptocurrency_content .img {
    margin: 0 auto 16px;
  }
  .cryptocurrency_content .content .top span:first-child {
    margin-right: 26px;
  }
  .cryptocurrency_content .content .top .price {
    margin-left: 0;
  }
  .cryptocurrency_content .content .top {
    margin-bottom: 18px!important;
  }
  .cryptocurrency_content .select_row {
    padding-top: 0;
    padding-right: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .cryptocurrency_content .select_row label {
    margin-right: 30px;
  }
  .cryptocurrency_content .content .top {
    margin-bottom: 2px;
  }
  .info_item .data {
    font-size: 14px;
  }
  .order_page.thanks .order_block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .account_tabs .tabs_content {
    margin-left: -20px;
    margin-right: -20px;
  }
  div.account_tabs .tabs_content .item {
    padding-left: 0;
    padding-right: 0;
  }
  .bottom_btns {
    padding-left: 20px;
    padding-right: 20px;
  }
  .user_settings_page .account_tabs .tabs_content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 23px;
    padding-right: 23px;
  }
  .user_settings .row.def2el.mobile_100_w label {
    max-width: initial;
  }
  .user_settings .input_grid .wrap {
    display: block;
  }
  .user_settings .input_grid .wrap .column {
    width: 100%;
    margin-right: 0;
  }
  .user_settings .input_grid .wrap .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .user_settings .def2el.two_small label:nth-child(1) {
    margin-bottom: 0!important;
    margin-right: 10px!important;
  }
  .user_settings .def2el.two_small label {
    margin-right: 10px!important;
  }
  .user_settings .def2el.two_small label:nth-child(2) {
    margin-left: 10px!important;
  }
  .user_settings .row {
    margin-bottom: 14px;
  }
  .user_settings .input_grid .wrap .column {
    margin-bottom: 48px;
  }
  .user_settings .input_grid .wrap .column:last-child {
    margin-bottom: 0;
  }
  .user_settings .discount_label {
    margin-top: 45px;
  }
  .user_settings .order_controll_btn {
    margin-top: 25px;
    padding: 0 0px 25px;
  }
  .card_settings.input_grid {
    padding-bottom: 24px;
    margin-bottom: 30px!important;
  }
  .user_settings.edit .row {
    margin-bottom: 17px;
  }
  .user_settings.edit .column {
    margin-bottom: 0!important;
  }
  .user_settings.edit .input_grid .wrap .row {
    display: block;
  }
  .user_settings.edit .def2el.two_small label {
    width: 100%;
    max-width: initial;
  }
  .user_settings.edit .def2el.two_small label input {
    max-width: initial;
  }
  .user_settings.edit .def2el.two_small label:nth-child(1) {
    margin-right: 0px!important;
    margin-bottom: 17px!important;
  }
  .user_settings.edit .def2el.two_small label:nth-child(2) {
    margin-left: 0px!important;
  }
  .user_settings.edit .discount_label {
    margin-top: 0;
  }
  .user_settings.edit .order_controll_btn {
    margin-top: 4px;
    padding: 0 0px 25px;
  }
  .table_scroll_wrap {
    margin-left: -20px;
    margin-right: -20px;
  }
  .text table th {
    height: 54px;
  }
  table td {
    height: 27px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  table tr:first-child td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .fht-table td {
    font-size: 12px!important;
  }
  .discount_block {
    margin-right: 20px;
  }
  .order_courier {
    display: block;
    text-align: center;
  }
  .order_courier .text {
    width: 100%;
    display: block;
    text-align: center;
  }
  .order_courier .main_btn {
    margin: 15px auto 0;
  }
  footer .column.main .text {
    text-align: left;
    margin-bottom: 10px;
  }
  footer .social {
    padding-left: 0;
  }
  .order_block .column.left {
    padding-bottom: 30px!important;
  }
  .ship_order .data table td > input {
    margin-top: 10px;
    margin-left: 28px;
    margin-bottom: 10px;
  }
  .order_form .row .row {
    margin-left: 0;
    margin-right: 0;
  }
  .change_email,
  .invoice_content .accept {
    margin-left: 0px;
    margin-right: 0px;
  }
  .invoice_content .accept a {
    display: table;
    margin-left: 0;
  }
  footer .custom_dropdown ul {
    display: none;
  }
  footer .lang_block {
    text-align: left;
  }
  footer .lang_block .top {
    padding-bottom: 0;
  }
  .info_item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column.thanks_block {
    margin-bottom: 0!important;
  }
  .news_item_simple.new:not(.w100) {
    width: 100%;
  }
  .popup_block.payment_error .content_wrap,
  .popup_block.success_message .content_wrap,
  .popup_block.registration_message .content_wrap {
    padding: 40px 15px 20px 15px;
  }
  .payment_error_text,
  .success_message .payment_error_text,
  .registration_message .payment_error_text {
    padding: 30px 0;
  }
  .payment_error_text h3 {
    max-width: 280px;
    font-size: 17px;
    line-height: 23px;
  }
  .tracking_progress_top {
    margin: 0 -20px;
    display: none;
  }
  .ship_order .tracking_progress_top {
    display: block;
  }
  .progress_name {
    width: 100%;
  }
  .progress_date,
  .progress_city {
    width: 50%;
  }
  .progress_stages p {
    min-height: auto;
  }
  .progress_date,
  .progress_city {
    padding-left: 40px;
  }
  .progress_date h5,
  .progress_city h5 {
    display: block;
  }
  .progress_date p,
  .progress_city p {
    padding: 5px 0 0 0;
    text-align: left;
  }
  .terminal_page_list .terminal_list_item:before {
    display: none;
  }
  .big-column .column:first-child,
  .big-column .column:nth-child(2),
  .big-column .column:nth-child(3) {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .news_item.big .text_content {
    padding-left: 15px;
    padding-right: 40px;
  }
  .news_item.big .date_news {
    right: 12px;
    top: 12px;
    padding-right: 11.5px;
  }
  .news_item .date_news {
    left: 115px;
    top: 12px;
  }
  .news_item h5 {
    line-height: 20px;
    height: 36px;
  }
  .news_item .text_content {
    padding-right: 0;
    padding-top: 36px;
  }
  .news_item .text_content span {
    display: none;
  }
  .news_item.big h5 {
    height: auto;
  }
  .news_item .img {
    width: 101px;
    height: 96px;
    margin-right: 12px;
  }
  .news_item .text_content {
    padding-top: 55px;
  }
  .news_item .img:after {
    left: 0;
    right: -15px;
    top: -10px;
    bottom: -10px;
  }
  .news_item.big .img {
    width: 100%;
    height: 100%;
  }
  .news_item.big .text_content span {
    letter-spacing: 0;
    height: auto;
    max-height: 88px;
  }
  .news_item.big .text_content {
    padding-top: 14px;
  }
  h2,
  .ship_order h5,
  .category_block .top_row h1,
  .top_row_inner_page h1,
  .landing_content h2,
  .contacts h1 {
    font-size: 18px;
  }
  .all_news h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
  .news_item h5,
  .news_item_simple h5,
  .info_item h5 {
    font-size: 16px;
    line-height: initial;
    height: auto;
  }
  .news_item_simple h5 {
    max-height: 44px;
    margin-bottom: 15px;
  }
  .news_item_simple .text_content {
    margin-bottom: 21px;
    height: auto;
  }
  div.news_item_simple,
  .news_item_simple:nth-child(2n + 2) {
    width: 100%;
  }
  .news_item_simple:nth-last-child(2) {
    border-bottom: 1px solid #d4d4d4!important;
  }
  .news_item_simple .text_content {
    height: 65px;
    overflow: hidden;
  }
  .top_block_main_page h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 23px;
  }
  .top_block_main_page h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .top_block_main_page .right {
    padding-bottom: 30px;
  }
  .container {
    padding-top: 27px;
  }
  #calculator form > .row {
    margin-bottom: 29px;
  }
  #calculator .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #calculator .row .label_wrap {
    width: 100%;
  }
  #calculator .row .exchange {
    display: none;
  }
  #calculator .from input,
  #calculator .to input {
    width: 88px;
  }
  #calculator .row .label_wrap {
    margin-bottom: 17px;
  }
  #calculator .row .label_wrap:last-child {
    margin-bottom: 0;
  }
  form .row {
    margin-bottom: 17px;
  }
  #calculator .weight .visual_weight {
    padding-bottom: 0;
    margin-right: 18px;
  }
  #calculator .weight {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  #calculator .weight .weight_calc_block {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0;
  }
  .visual_weight .text {
    display: none;
  }
  .visual_weight .icon .box {
    z-index: 1;
  }
  .visual_weight {
    min-width: initial;
    width: 52px!important;
    height: 52px!important;
  }
  .visual_weight .icon {
    width: 100%;
    height: 100%;
  }
  .visual_weight svg.desktop {
    display: none;
  }
  .visual_weight svg.mobile {
    display: block;
    position: relative;
    left: 1px;
  }
  .ui-slider-handle {
    width: 21px!important;
    height: 21px!important;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -50%;
    margin-left: 10px;
  }
  #calculator .weight .title {
    position: absolute;
    top: -14px;
    left: -70px;
  }
  #calculator .weight .mobile_only {
    display: block;
    margin-bottom: 6px;
  }
  #calculator .weight .mobile_only span {
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .weight_calc_block {
    position: relative;
  }
  #calculator .row.size {
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 0;
    width: auto;
  }
  #calculator .row.size .wrap {
    top: 0;
  }
  #calculator .row.size label {
    width: calc(50% - 8px) !important;
    margin-left: 4px!important;
    margin-right: 4px!important;
    margin-bottom: 8px!important;
  }
  #calculator .row.size label.count .count_span {
    display: none;
  }
  #calculator .row.size label.count input {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  #calculator .row.bottom {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
  }
  #calculator .row.bottom .text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
    padding: 0;
    width: 100%;
  }
  #calculator .row.bottom .text a {
    font-size: 14px;
  }
  #calculator .row.bottom .text * {
    display: inline-table;
    margin-left: auto;
    margin-right: auto;
  }
  #calculator .row.bottom .main_btn {
    width: 100%;
    margin-bottom: 21px;
  }
  #map_single {
    margin-top: 0px;
  }
  #map_single {
    height: auto;
    margin-bottom: 15px;
  }
  #map_single .map_wrap {
    height: 170px;
  }
  .terminals_controll .map {
    height: 228px;
  }
  .contacts .row .content .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contacts .row .content .row .w50 {
    width: 100%;
    margin: 0 0 27px;
  }
  .contacts .row .content .row {
    margin-top: 0;
  }
  .contacts h1 {
    margin-bottom: 23px;
  }
  .contacts_page .contacts .map {
    height: 250px;
  }
  .tabs .tabs_content .item {
    padding: 0 26.5px;
  }
  .tabs .tabs_content .item .owl-stage,
  .tabs .tabs_content .item .owl-stage-outer,
  .tabs .tabs_content .item .managers_slider {
    overflow: visible;
  }
  .tabs .tabs_content .item .owl-carousel.owl-drag .owl-item {
    padding: 0 10px;
  }
  .tabs .main_tab {
    height: 42px;
    padding: 5px 18.5px;
  }
  .tabs h2 {
    margin-bottom: 20px;
  }
  .tabs .main_tab.active {
    padding: 5px 20px;
  }
  .tabs .tabs_content {
    margin-top: 13px;
  }
  .manager_item {
    padding-top: 46px;
  }
  .manager_item .top img {
    margin-bottom: 21px;
  }
  .manager_item .bottom {
    padding-top: 37px;
  }
  .tabs {
    margin-bottom: 10px;
  }
  .describe_shipment label {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .order_form .describe_shipment {
    display: block;
  }
  .ship_order h5 {
    font-size: 16px;
  }
  label.checkbox .main .mobile_only {
    display: block;
  }
  .select_row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .order_page.thanks .order_block {
    padding-top: 24px;
  }
  .order_page.thanks .content .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .order_page.thanks .content .row .column {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .info_item {
    padding: 22px 20px;
  }
  .info_item h5 {
    margin-bottom: 15px;
  }
  .info_item .data {
    line-height: 19px;
  }
  .info_item .desk_only {
    display: none;
  }
  .info_item.parcel {
    margin-bottom: 0;
  }
  .info_item.date {
    padding-top: 18px;
  }
  .order_page.thanks .column.left {
    margin-bottom: 12px;
  }
  .order_page.thanks .order_block .top_row {
    padding: 21px 20px 8px;
    height: auto;
    min-height: initial;
  }
  .order_page.thanks .ship_order .data {
    padding-top: 8px;
    margin-bottom: 22px;
  }
  .order_page.thanks .ship_order .bottom {
    padding: 19px 20px 23px;
  }
  .order_page.thanks .navigation {
    padding-left: 0;
    padding-right: 0;
    padding: 15px 0;
  }
  .order_page.thanks .ship_order .data {
    padding-left: 20px;
  }
  .navigation.two_btn button {
    height: 56px;
    margin-right: 10px;
    min-width: 132px;
    padding: 4px 10px;
  }
  .account_tabs .bottom_btns .main_btn {
    padding: 4px 10.5px;
    min-width: 134px;
  }
  .account_tabs .bottom_btns .main_btn:first-child {
    -ms-flex-negative: 2;
    flex-shrink: 2;
  }
  .ui-slider-horizontal .ui-slider-handle {
    margin-left: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .discount_block {
    display: none;
  }
  #calculator .weight .visual_weight {
    margin-top: 10px;
  }
  .calculator .row.size .main_btn {
    width: calc(50% - 8px);
    padding: 5px 10px 2px;
  }
  .calculator .row.size .main_btn {
    margin: 8px auto;
  }
  .news_item .text_content {
    padding-top: 50px;
  }
  .terminal_list_item .bottom_row div {
    width: 100%!important;
  }
  .news_item h5 {
    margin-bottom: 15px;
  }
  .news_item .text_content {
    padding-left: 115px;
  }
  .news_item .img {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .news_item .img img {
    height: 100%;
  }
  .calculator .tabs_el .row label {
    width: 100%!important;
    margin-bottom: 15px;
    margin-right: 0!important;
  }
  .calculator .tabs_el .row label:last-child {
    margin-bottom: 0;
  }
  .order_block .calc_wrap #calculator .row {
    margin-bottom: 15px;
  }
  #calculator .row.size label {
    width: 100%!important;
  }
  .calculator .row.size label:nth-child(2) svg {
    left: 4px;
  }
  .calculator .row.size label:nth-child(3) svg {
    left: 4px;
  }
  .order_block .calc_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .navigation .main_btn {
    min-width: initial;
  }
  .navigation {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .info_item .title {
    padding-bottom: 22px;
  }
  .info_item h5 {
    margin-bottom: 0;
  }
  .news_item a.main {
    height: auto;
  }
  .news_item a.main img,
  .news_item a.main .img {
    height: 100px;
  }
  .news_item_simple.new .hover_block .title {
    max-height: 50px;
  }
  .news_item_simple.show_hover_block {
    height: 150px;
  }
  .news_item_latest .text_content {
    height: 100px;
    padding-top: 30px;
  }
  .terminals_city_list ol {
    column-count: 3;
  }
  .terminal_list_item .top_row:after {
    display: none;
  }
  /*.top_block_main_page .bg {
        top: 19px;
    } */
  .news_item {
    min-height: 100px;
  }
  .news_item h5 {
    max-height: 38px;
  }
  .news_item.big a.main img,
  .news_item.big a.main .img {
    height: 100%;
  }
  .account_panel_tabs .tabs .tabs_content .item {
    padding: 0;
  }
}
@media screen and (max-width: 440px) {
  .info_item .row .w50 {
    width: 100%;
  }
  .info_item .row .w50 {
    margin-bottom: 30px;
  }
  .info_item .info.w100 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .info_item .row {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .info_item .row .main_btn {
    margin-bottom: 0;
  }
  .no_result {
    padding: 20px;
  }
  .no_result_title {
    padding: 20px 15px;
  }
  .no_result_text {
    padding: 20px 15px;
  }
  .no_result_title h3 {
    font-size: 18px;
  }
  .no_result_form form label {
    width: 65%;
    padding: 0 10px 0 0;
  }
  .no_result_form form button {
    width: 35%;
  }
  .no_result_text p,
  .no_result_form p,
  .no_result_table table td {
    font-size: 13px;
  }
  .progress_date,
  .progress_city {
    width: 100%;
  }
  .tracking_table tr {
    display: block;
    margin-bottom: 10px;
  }
  .tracking_table tr:last-child {
    margin-bottom: 0;
  }
  .tracking_table tr td {
    display: block;
  }
  .tracking_table tr td:first-child {
    width: 100%;
  }
  .tracking_table tr td:last-child {
    width: 100%;
  }
  table tr:first-child td {
    padding-bottom: 10px;
  }
  .tracking_table tr td {
    padding-bottom: 10px;
  }
  .tracking_progress_btn.navigation {
    flex-direction: column;
  }
  .tracking_progress_btn.navigation .main_btn {
    max-width: 100%;
    padding: 4px 20px;
  }
  .tracking_progress_btn button:first-child {
    margin: 0 0 10px 0;
  }
  .tracking_progress_btn button:last-child {
    margin-left: 0;
  }
  .tracking_form.popup_block .content_wrap {
    padding: 30px 15px 20px 15px;
  }
  .popup_block .close {
    top: 8px;
    right: 6px;
  }
  .tracking_modal_title {
    padding: 10px 0 20px 0;
  }
  .terminals_map {
    height: 400px;
  }
  .about_us_text h4 {
    font-size: 30px;
  }
  .about_map .content.w50 .w50 {
    width: 100%;
  }
  .about_map .map {
    height: 270px;
  }
  .page404 .error_text {
    line-height: 115px;
    font-size: 138px;
  }
  .popup_block.registration_login .content_wrap,
  .popup_block.restore_password .content_wrap {
    padding: 35px 20px 20px 20px;
  }
  .login_form {
    max-width: 100%;
  }
  .no_account {
    margin-top: 35px;
  }
  .orders_panel_date {
    flex-wrap: wrap;
    padding: 20px 15px 0 15px;
  }
  .orders_panel_date label {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    position: relative;
    margin-bottom: 12px;
  }
  .orders_panel_date label:after,
  .orders_panel_date label:before {
    display: none;
  }
  .orders_panel_date label:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 380px) {
  .account_table tr {
    padding-right: 52px;
  }
  .terminals_city_list ol {
    column-count: 2;
  }
  .additional_list_text h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 420px) {
}
@media screen and (max-width: 370px) {
  .account_table.offers tr {
    padding-left: 100px;
  }
  .account_table tr {
    max-height: 105px;
  }
}
@media screen and (max-width: 585px) {
  .top_block_main_page .main_row .right {
    width: 100%;
    padding-bottom: 50px;
  }
  .top_block_main_page {
    padding-bottom: 0px;
  }
  .top_block_main_page #calculator {
    border-radius: 0;
  }
}
@media screen and (min-width: 586px) {
  .top_block_main_page .main_row .right {
    background: none!important;
  }
}
