<div class="share_block">
    <div class="social">
        <a href="<?php echo $shareUrls['facebook']; ?>" target="_blank">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6234 9.00383L20.2249 9C17.5302 9 15.7888 10.7771 15.7888 13.5276V15.6152H13.3771C13.1688 15.6152 13 15.7832 13 15.9905V19.0151C13 19.2224 13.1689 19.3903 13.3771 19.3903H15.7888V27.0223C15.7888 27.2296 15.9575 27.3975 16.1659 27.3975H19.3124C19.5208 27.3975 19.6896 27.2294 19.6896 27.0223V19.3903H22.5093C22.7177 19.3903 22.8865 19.2224 22.8865 19.0151L22.8876 15.9905C22.8876 15.891 22.8478 15.7957 22.7772 15.7252C22.7066 15.6548 22.6103 15.6152 22.5103 15.6152H19.6896V13.8455C19.6896 12.995 19.8933 12.5632 21.0073 12.5632L22.623 12.5626C22.8312 12.5626 23 12.3946 23 12.1875V9.37896C23 9.17206 22.8314 9.00421 22.6234 9.00383Z"
                    fill="#006ADE" />
                <circle cx="18.5" cy="18.5" r="18" stroke="#006ADE" />
            </svg>
        </a>
        <a href="<?php echo $shareUrls['twitter']; ?>" target="_blank">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="18.5" cy="18.5" r="18" stroke="#00A7E6" />
                <g clip-path="url(#clip0)">
                    <path d="M27.9995 12.6092C27.3002 12.9191 26.5498 13.1292 25.7615 13.2231C26.5664 12.741 27.1826 11.9764 27.4747 11.0681C26.7196 11.5145 25.8861 11.8387 24.998 12.0144C24.2868 11.2558 23.2753 10.7832 22.1533 10.7832C20.0008 10.7832 18.2555 12.5285 18.2555 14.6798C18.2555 14.985 18.2899 15.283 18.3564 15.5679C15.1175 15.4053 12.2455 13.8535 10.3233 11.4955C9.98729 12.0702 9.79615 12.7398 9.79615 13.4546C9.79615 14.8069 10.4848 16.0001 11.5296 16.6982C10.8908 16.6768 10.2901 16.5011 9.76411 16.209V16.2577C9.76411 18.1455 11.1081 19.721 12.8902 20.0796C12.5637 20.1674 12.2194 20.2161 11.8632 20.2161C11.6115 20.2161 11.3681 20.1912 11.1295 20.1437C11.6257 21.6931 13.0647 22.8198 14.7697 22.8507C13.4364 23.8955 11.7552 24.5164 9.92915 24.5164C9.61453 24.5164 9.30463 24.4974 8.99951 24.463C10.7246 25.5708 12.7727 26.2166 14.9739 26.2166C22.1438 26.2166 26.0631 20.2779 26.0631 15.1275L26.05 14.6229C26.8158 14.0767 27.4783 13.3905 27.9995 12.6092Z"
                        fill="#00A7E6" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="19" height="19" fill="white" transform="translate(9 9)" />
                    </clipPath>
                </defs>
            </svg>
        </a>
    </div>
</div>